/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts (added by GB) */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* Font to do nice numbered items */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

$font-family-sans-serif: "UCLSans", "Ubuntu", "Arial", "FreeSerif", "serif" !default;
$font-family-monospace: "Ubuntu Mono", "Inconsolata",  monospace !default;

// headings
$presentation-heading-font: "UCLSans", "Ubuntu", "Inter Tight", "Arial",
  FreeSerif, serif !default;
$presentation-heading-color: #002248 !default;

// other variables
$body-bg: #fafafa;
$body-color: #00142B;
$highlight-color: #715600;
/* sets color of controls*/
$link-color: #95A6B8;
$selection-bg: #95A6B8;
$presentation-font-size-root: 20pt;
$ucl-gradient: linear-gradient(to right, #993bff 10%, #361a54 10%)!important;
$ucl-divider: linear-gradient(to right,#993bff 0,#993bff 0.45in,#361a54 0.45in,#361a54 1.8in,#993bff 1.8in,#993bff 4.05in,#361a54 4.05in,#361a54 100%)!important;

/*
Conversion rule for fonts (based on choosing $presentation-font-size-root: 20pt;)
- 42pt / 20pt = 2.1em
- 36pt / 20pt = 1.8em
- 24pt / 20pt = 1.2em
- 18pt / 20pt = 0.9em
*/

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $link-color;
  color: $presentation-heading-color;
  padding-left: 0.6em;
  background: #F4F5F6;
}

/* Modified by GB */
.reveal h1 {
  font-size: 2.1em; // 42pt as per pptx template
  margin-left: 11vw;
  margin-right: 3%;
  font-weight: 700;
  color: #fafafa;
  text-align: left;
  font: UCLSans-SemiBold;
}

/* This is necessary to remove the box if the h1 happens in a slide with background */
section.has-dark-background h1 {
  background-color: transparent;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0.6);
}

.reveal .author {
  text-align: left;
  margin-left: 11vw!important;
  margin-right: 3%;
  color: #fafafa;
  font-family: UCLSans;
  font-size: 1.2em; // 24pt as per pptx template
}

.reveal .date-conference {
  font-family: UCLSans;
  font-size: 0.9em; // 18pt as per pptx template
  color: #fafafa;
  margin-left: 11vw!important;
  text-align: left;
  opacity:0.8;
}

.reveal .mail-websites {
  font-family: 'Ubuntu Mono';
  font-size: .8em;
  opacity:0.8;
  margin-left: 11vw!important;
  text-align: left;
}

/* And this over-rides the white colour for h2 titles in a slide with background */
section.has-dark-background h2 {
  color: #647d97;
}

/* Target the first slide's dynamic background div */
.reveal .backgrounds .slide-background:first-child {
  background: linear-gradient(to right, #993bff 10%, #361a54 10%) !important;
  background-size: 100% 100% !important;
  opacity: 1 !important;  /* override any inline opacity */
}

.reveal h2 {
  font-size: 1.8em; // 36pt as per pptx template
  padding-bottom: .3em;
  font-weight: 700; /*700;*/
  color: #361a54;
  font: UCLSans-SemiBold;
}

.reveal h3 {
  color: #993bff;
  font-size: 1.2em; // 24pt as per pptx template
 }

.reveal .footer {
  color: #CCD1D5;
  background: linear-gradient(to right, #993bff 10%, #361a54 10%)!important;
  font-family: $presentation-heading-font;
  display: block;
  position: fixed;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 100%;
  text-align: left!important;
  z-index: 5;
  box-sizing: border-box;     /* ensures padding does not expand background */
  padding-left: 11vw;         /* moves text without affecting gradient */
}

/* Inserts logo in the normal slides (but not the title-slide) */
.reveal .slides section:not(#title-slide):not(#section-title-slide):not(.divider):not(.divider-bg) {
  background-image: url("images/ucl-new-logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100px auto; // adjust size
}
//:not([data-background]):not([data-background-gradient])

/* This makes the text coloured on the white background for the section/dividers. Not quite like the pptx template, though... */
.divider h1 {
  color: #361a54;
}

section[data-background],
section[data-background-gradient] {
  .divider,
  h1,
  h2,
  h3,
  p {
    color: #fafafa;
  }
}

/* This makes the dividers exactly like the pptx template. Not sure I like it better, though...
   if using the code above just add
   ::: {.footer style="background-color: transparent!important; background: transparent!important"}
   :::
   to make the footer go away
*/
.divider-bg {
  background: linear-gradient(
    to right,
    #993bff 0%,
    #993bff 4.5%,
    #361a54 4.5%,
    #361a54 14.5%,
    #993bff 14.5%,
    #993bff 25.5%,
    #361a54 25.5%,
    #361a54 100%
  ) !important;
}
section.divider-bg {
  background: transparent!important;
}
section.divider-bg h1,
section.divider-bg h2,
section.divider-bg h3,
section.divider-bg p,
section.divider-bg li {
  margin-left: 30%!important;
  margin-right: 3%;
  text-align: left;
  color: #fafafa;
}

.reveal .slide-number {
  color:#fafafa;
  font-family: "Inter Tight";
}

.reveal .controls {
  color: $highlight-color;
}

.reveal .progress {
  background: $presentation-heading-color;
  color: $highlight-color
}

.reveal div.sourceCode {
  margin: 0;
  overflow: auto;
  border-color: $link-color;
}

.reveal a {
  color: #C6AA51; // #6e5400;
  letter-spacing: -0.025em;
}

.reveal a:hover {
  color: #516372;
}

/*
.reveal .slide a {
  color: #6e5400;
  font-family: $font-family-monospace;
  letter-spacing: -0.025em;
}

.reveal .slide a:hover {
  color: #516372;
}
*/

.reveal .footer a {
  color: #C6AA51;
}

.reveal .footer a:hover {
  color: #FFFFFF;
}

section.has-dark-background a, section.has-dark-background a:hover {
  color: #C6AA51;
}

/*
 * This modifies the appearance of the bullet list wrt Cara's original formulation
*/
.reveal .slide ul li {
  letter-spacing: -0.025em;
}

.reveal .slide ul li::marker {
  list-style-type: disc;
  color: #AC8300;
}

.reveal .slide ol li::marker {
//  font-family: Permanent Marker;
  color: #AC8300;
  font-weight: 500;
}

/*
 * This is Cara's original formatting for bullet point lists
 *
.reveal .slide ul li {
  list-style: none; // Remove default bullets
  letter-spacing: -0.025em;
}

.reveal .slide ul li::before {
  content: "\25FC";      // Add content: \2022 is the CSS Code/unicode for a bullet; add a space for easier alignment!
  color: #AC8300;        // Change the color
  display: inline-block; // Needed to add space between the bullet and the text
  width: 1.5em;          // Also needed for space (tweak if needed)
  margin-left: -1.5em;   // Also needed for space (tweak if needed)
  font-size: 66%;
}
*/


.reveal .panel-tabset ul li::before {
  content: ""; /* Remove default bullets */
}

.reveal .monospace{
  font-size: 36pt;
}

.reveal .faded{
  opacity: 0.4;
}

.reveal .faded-small{
  opacity: 0.4;
  font-size: 0.8em;
}

.reveal .imitate-title{
  font-size: 2em;
}

.reveal p {
  letter-spacing: -0.025em;
}

#title-slide, .p{
   margin:0;
}

.reveal .slide blockquote {
  border-left: 3px solid #AC8300;
}

@media (min-width: 30em) {
  .panel-tabset [role="tab"][aria-selected="true"] {
    background-color: rgba(0,0,0,0);
    border: 1px solid $link-color;
    border-bottom-color: $link-color;
    border-bottom-color: #fff;
  }

  .panel-tabset [role="tab"]:hover:not([aria-selected="true"]) {
    border: 1px solid $link-color;
    border-bottom-color: #fff;
  }

}

.panel-tabset [role="tablist"] {
  border-bottom: 1px solid $link-color;
  list-style: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}

/* Added by GB for further customisation */
.postit1 {
  position: absolute;
  top: 75%;
  left: 1.5%;
  font-family: Nanum Pen Script;
  font-size: 75%;
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  margin-left: -40px;
  height: 6.3em;
  width: 6.3em;
  padding: .5em; box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-8deg);
  border-bottom-right-radius: 60px 5px;
}

.postit2 {
  position: absolute;
  top:40%;
  left: 2.5%;
  font-family: Nanum Pen Script;
  font-size:75%;
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  margin-left: -40px;
  height: 6.3em;
  width: 6.3em;
  padding: .5em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(6deg);
  border-bottom-right-radius: 60px 5px;
}

/* Logo stats */
.logo-stats {
  position: absolute;
  display: block;
  height: 7.5em;
  width: 12em;
//  padding: .5em;
  /* this sits within libs/revealjs/dist/theme where the final quarto.css file is rendered */
  background-image: url("images/ucl-new-title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  bottom: 0%;
  right: 0%;
}

/*******************************************************************************************************************************
 * Colours
 * NB: In LaTeX, colors may be defined in rgb (0-1). Can scale up to RGB (0-255) by simply multiplying the three numbers by 255
 *     then can use 'https://www.google.com/search?channel=fs&client=ubuntu&q=rgb+to+hex' to convert to HEX and can use here.
 *     These can be used as 'class', so for instance code such as
 *     `[$y \sim \dnorm(0,100)$]{.spanish-red}`
 *     will make the LaTeX equation coloured in the red of the Spanish flag
 ******************************************************************************************************************************/
.myred {
  color: #e62b4f;
}
.red {
  color: #ff0000;
}
.blue{
  color: #0000FF;
}
.magenta{
  color: #FF00FF;
}
.myblue {
  color: #24568c;
}
.orange {
  color: #ff8811;
}
.myblue {
  color: #24568c;
}
.olive {
  color: #334f17;
}
.ubuntublue {
  color: #035AA6;
}
.spanish-red {
  color: #c60b1e;
}
.spanish-yellow {
  color: #ffc400;
}
.italian-green {
  color: #009246;
}
.italian-red {
  color: #ce2b37;
}
.blue90red60 {
  color: #7e5dc9;
}
.blue60red90 {
  color: #9350c7;
}
.lightgray {
  color: #ededed; /*#d3d3d3*/
}
.uclblue {
  /* https://www.ucl.ac.uk/cam/sites/cam/files/migrated-files/ucl-visual-identity-poster.pdf */
  color: #002855;
}
.navbargrey{
  color: #D5D5D5;
}
.beamer-yellow {
  color: #fcd000;
}
.samp-blue {
  color: #1B5497;
}
.samp-red {
  color: #C21718;
}

/* This makes long tables included in tabsets scrollable vertically */
.panel-tabset {
  height: 90%;
  overflow-y: auto;
}

/* Creates a marker effect */
.magic-marker {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* Some new colours for highlighting text in fragments
 * Of course, can make new ones with differet values for the colour.
 * NB: This is originally defined in gb-slides_files/libs/revealjs/dist/reveal.css
*/
.reveal .slides section .fragment.highlight-blue {
  opacity: 1;
  visibility: inherit;
}
.reveal .slides section .fragment.highlight-blue.visible {
  color: blue;
}
