/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts (added by GB) */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* Font to do nice numbered items */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


$font-family-sans-serif: "Ubuntu", "Arial", Arial,
  FreeSerif, serif !default;
$font-family-monospace: "Ubuntu Mono", "Inconsolata",  monospace !default;

// headings
$presentation-heading-font: Ubuntu, "Inter Tight", Arial,
  FreeSerif, serif !default;
$presentation-heading-color: #002248 !default;

// other variables
$body-bg: #ffffff;
$body-color: #00142B;
$highlight-color: #715600;
/* sets color of controls*/
$link-color: #95A6B8;
$presentation-font-size-root: 20pt;
$selection-bg: #95A6B8;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $link-color;
  color: $presentation-heading-color;
  padding-left: 0.6em;
  background: #F4F5F6;
}

/* Modified by GB */
.reveal h1 {
  font-size: 2em;
  color: #647d97;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
  border-radius: 15px;
  background-color: #002c53;
  padding: 35px 30px 35px 30px;
  margin-left: 3%;
  margin-right: 3%;
  font-weight: 500;
}

/* This is necessary to remove the box if the h1 happens in a slide with background */
section.has-dark-background h1 {
  background-color: transparent;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0.6);
}

/* And this over-rides the white colour for h2 titles in a slide with background */
section.has-dark-background h2 {
  color: #647d97;
}

.reveal h2 {
  font-size: 2em;
  padding-bottom: .3em;
  font-weight: 400; /*700;*/
  margin-bottom: 0.5em;
  margin-left: calc(-50vw);
  border-left: calc(50vw) solid #002c53;
  margin-right: calc(-50vw);
  border-right: calc(50vw) solid #002c53;
  background-color: #002c53;
  padding-top: 1.2em;
  margin-top: -1.55em;
  padding-right: 4.2em;
  color: #647d97; /* #FFFFFF; */
  /* this sits within libs/revealjs/dist/theme where the final quarto.css file is rendered */
  background-image: url("images/UCL-stats.png"); /* header-logo.png"); */
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 4.8em;
}

.reveal h2 img {
  position: absolute;
  right: 0%;
  width: 5%;
  height: 100%;
 }

.reveal .footer {
  color: #CCD1D5;
  background-color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  display: block;
  position: fixed;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 100%;
  text-align: center;
  font-family: "Inter Tight";
  z-index: 5;
}

.reveal .slide-number{
  color:#b4c0cc;
  background-color:#fff
}

.reveal .controls {
  color: $highlight-color;
}

.reveal .progress {
  background: $presentation-heading-color;
  color: $highlight-color
}

.reveal div.sourceCode {
  margin: 0;
  overflow: auto;
  border-color: $link-color;
}

.reveal a {
  color: #6e5400;
  letter-spacing: -0.025em;
}

.reveal a:hover {
  color: #516372;
}

.reveal .footer a {
  color: #C6AA51;
}

.reveal .footer a:hover {
  color: #FFFFFF;
}

section.has-dark-background a, section.has-dark-background a:hover {
  color: #C6AA51;
}


/*
 * This modifies the appearance of the bullet list wrt Cara's original formulation
*/
.reveal .slide ul li {
  letter-spacing: -0.025em;
}

.reveal .slide ul li::marker {
  list-style-type: disc;
  color: #AC8300;
}

/*
 * This is Cara's original formatting for bullet point lists
 *
.reveal .slide ul li {
  list-style: none; // Remove default bullets
  letter-spacing: -0.025em;
}

.reveal .slide ul li::before {
  content: "\25FC";      // Add content: \2022 is the CSS Code/unicode for a bullet; add a space for easier alignment!
  color: #AC8300;        // Change the color
  display: inline-block; // Needed to add space between the bullet and the text
  width: 1.5em;          // Also needed for space (tweak if needed)
  margin-left: -1.5em;   // Also needed for space (tweak if needed)
  font-size: 66%;
}
*/


.reveal .panel-tabset ul li::before {
  content: ""; /* Remove default bullets */
}

.reveal .monospace{
  font-size: 36pt;
}

.reveal .faded{
  opacity: 0.4;
}

.reveal .faded-small{
  opacity: 0.4;
  font-size: 0.8em;
}

.reveal .imitate-title{
  font-size: 2em;
}

.reveal p {
  letter-spacing: -0.025em;
}

#title-slide, .p{
   margin:0;
}

.reveal .slide blockquote {
  border-left: 3px solid #AC8300;
}

@media (min-width: 30em) {
  .panel-tabset [role="tab"][aria-selected="true"] {
    background-color: rgba(0,0,0,0);
    border: 1px solid $link-color;
    border-bottom-color: $link-color;
    border-bottom-color: #fff;
  }

  .panel-tabset [role="tab"]:hover:not([aria-selected="true"]) {
    border: 1px solid $link-color;
    border-bottom-color: #fff;
  }

}

.panel-tabset [role="tablist"] {
  border-bottom: 1px solid $link-color;
  list-style: none;
  margin: 0;
    margin-bottom: 0px;
  padding: 0;
  width: 100%;
}

/* Added by GB for further customisation */
.postit1 {
  position: absolute;
  top: 75%;
  left: 1.5%;
  font-family: Nanum Pen Script;
  font-size: 75%;
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  margin-left: -40px;
  height: 6.3em;
  width: 6.3em;
  padding: .5em; box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-8deg);
  border-bottom-right-radius: 60px 5px;
}

.postit2 {
  position: absolute;
  top:40%;
  left: 2.5%;
  font-family: Nanum Pen Script;
  font-size:75%;
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  margin-left: -40px;
  height:6.3em;
  width:6.3em;
  padding: .5em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(6deg);
  border-bottom-right-radius: 60px 5px;
}

/* Logo stats */
.logo-stats {
  text-decoration:none;
  display:block;
  height: 3.5em;
  width: 3.5em;
  padding: .5em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* this sits within libs/revealjs/dist/theme where the final quarto.css file is rendered */
  background-image: url("images/UCL_Stats_logo.jpeg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-size: contain;
  border-radius: 6px 6px 6px 6px;
}

/*******************************************************************************************************************************
 * Colours
 * NB: In LaTeX, colors may be defined in rgb (0-1). Can scale up to RGB (0-255) by simply multiplying the three numbers by 255
 *     then can use 'https://www.google.com/search?channel=fs&client=ubuntu&q=rgb+to+hex' to convert to HEX and can use here.
 *     These can be used as 'class', so for instance code such as
 *     `[$y \sim \dnorm(0,100)$]{.spanish-red}`
 *     will make the LaTeX equation coloured in the red of the Spanish flag
 ******************************************************************************************************************************/
.myred {
  color: #e62b4f;
}
.myblue {
  color: #24568c;
}
.olive {
  color: #334f17;
}
.ubuntublue {
  color: #035AA6;
}
.spanish-red {
  color: #c60b1e;
}
.spanish-yellow {
  color: #ffc400;
}
.italian-green {
  color: #009246;
}
.italian-red {
  color: #ce2b37;
}
.blue90red60 {
  color: #7e5dc9;
}
.blue60red90 {
  color: #9350c7;
}
.lightgray {
  color: #ededed; /*#d3d3d3*/
}
.uclblue {
  /* https://www.ucl.ac.uk/cam/sites/cam/files/migrated-files/ucl-visual-identity-poster.pdf */
  color: #002855;
}
.navbargrey{
  color: #D5D5D5;
}
.beamer-yellow {
  color: #fcd000;
}

/* This makes long tables included in tabsets scrollable vertically */
.panel-tabset {
  height: 90%;
  overflow-y: auto;
}

/* Creates a marker effect */
.magic-marker {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* Some new colours for highlighting text in fragments
 * Of course, can make new ones with differet values for the colour.
 * NB: This is originally defined in gb-slides_files/libs/revealjs/dist/reveal.css
*/
.reveal .slides section .fragment.highlight-blue {
  opacity: 1;
  visibility: inherit;
}
.reveal .slides section .fragment.highlight-blue.visible {
  color: blue;
}
